# Postgres / Drizzle
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/jobs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=jobs
POSTGRES_PORT=5432

# Next.js
# (optional) set to production / development
NODE_ENV=development
